.container{
    background-color: green;
    height: 1000px;
    width: auto;
}

.header{
    background-color: white;
    height: 60px;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.menu{
    width: 30px;
    height: 30px;
    background-color: black;
    align-self: center;

}
.banner-logo{
   /* width: 1000px;
   background-size: contain; */
  /* pointer-events: none; */
  width: 100%;
  height: 40vmax;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}